@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap");
.subscribe {
  width: calc(100% - 100px);
  margin: 0 auto;
  min-height: 180px;
  background-color: red;
  margin-top: 50px;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  display: flex;
  padding: 50px;
  .youtube {
    font-size: 50px;
    width: 70px;
    height: 70px;
    margin-right: 40px;
    background-color: #ffffff54;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  .text-container {
    p {
      font-size: 18px;
      &:nth-child(2) {
        margin-top: -15px;
        color: #ffffffcc;
      }
    }
    button {
      border: none;
      padding: 10px 15px;
      border-radius: 5px;
      letter-spacing: 1px;
      font-weight: 300;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .subscribe {
    display: flex;
    flex-direction: column;
    .text-container{
      margin-top: 20px;
    }
  }
}
